.head {
  padding: 20px;
  background-color: darkcyan;
  text-align: center;
  color: white;
}
.detail {
  padding: 10px;
  margin: 10px auto;
  display: flex;
  strong {
    width: 15%;
    text-align: right;
    margin-right: 15px;
    font-weight: bold;
    font-size: 15px;
  }
  span {
    width: 60%;
    color: darkcyan;
    font-size: 15px;
  }
}
.btn_box {
  display: flex;
  justify-content: end;
  input {
    flex: 0.2;
    margin-right: 10px;
    padding: 5px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: brown;
    color: white;
    &:hover {
      cursor: pointer;
      background-color: darkcyan;
    }
  }
}
