table.books {
  background-color: #eee;
  width: 99%;
  margin: 5px auto;
  /* 표와 표사이 입체감 표현 */
  border-collapse: separate;
  border-spacing: 0;
  table-layout: fixed;

  col.isbn {
    width: 10em;
  }
  col.title {
    width: 20em;
  }

  thead {
    position: relative;
    z-index: 1000;
    th {
      position: sticky;
      z-index: 1001;
      top: 0;
      background-color: #f8f8f8;
    }
  }
  tbody {
    tr {
      cursor: pointer;
    }
    tr:hover {
      background-color: #ddd;
    }
  }

  tr:nth-of-type(odd) {
    background-color: rgb(143, 134, 134);
  }

  th,
  td {
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    white-space: nowrap;
    padding: 10px;
  }

  /* 
  table-layout 을 fixed 로 설정하고
  각 칼럼의 width 를 적당히 조절해준 후
  td 에 아래 3가지 속성을 부여하면
  content(text) 가 cell 의 크기를 벗어날때 말 줄임표를 표현할 수 있다
  */
  td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  td:nth-of-type(1),
  th:nth-of-type(1) {
    border-right: none;
  }
}
