extends ../layout


block content
    link(rel="stylesheet", href="/css/notice/insert.css")
    script(src="/js/insert.js")
    div.insert_box
        h1 게시판 추가
        form.input_box(method="POST")
            input(type="text" placeholder = "제목" name= "n_title" ) 
            select(name="n_div")
                OPTION 게시판을 선택해주세요
                option(value="1") 메모 
                option(value="2") 자유게시판
                option(value="3") 기타
            input.add(type="button" value= "추가")

