<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nemo.hello.dao.PlayerDao">
	
	
	<update id="update">
		UPDATE tbl_nemo_play
		SET 
		${p_block_name} = #{p_block_value}
		WHERE p_id = #{p_id} AND p_num = #{p_num}
		 AND p_row_num = #{p_row_num}
	</update>
	

	
	<delete id="reset">
		DELETE FROM tbl_nemo_play
		WHERE p_id = #{p_id} AND p_num = ${p_num}
	</delete>	
	
	<insert id="insert" >
		<choose>
		<when test='p_num.equals("1")'>		
		INSERT INTO tbl_nemo_play
		(p_id,p_num,p_row_num,p_block1,p_block2,p_block3,p_block4,p_block5)
		VALUES
		(#{p_id},#{p_num},'1','0','0','0','0','0' ),
		(#{p_id},#{p_num},'2','0','0','0','0','0' ),
		(#{p_id},#{p_num},'3','0','0','0','0','0' ),
		(#{p_id},#{p_num},'4','0','0','0','0','0' ),
		(#{p_id},#{p_num},'5','0','0','0','0','0' )
		</when>
		<when test='p_num.equals("2")'>
		INSERT INTO tbl_nemo_play
		(p_id,p_num,p_row_num,p_block1,p_block2,p_block3,p_block4,p_block5,p_block6,p_block7)
		VALUES
		(#{p_id},#{p_num},'1','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'2','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'3','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'4','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'5','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'6','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'7','0','0','0','0','0','0','0' )
		</when>
			<when test='p_num.equals("3")'>
			INSERT INTO tbl_nemo_play
		(p_id,p_num,p_row_num,p_block1,p_block2,p_block3,p_block4,p_block5,p_block6,p_block7,p_block8,p_block9)
		VALUES
		(#{p_id},#{p_num},'1','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'2','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'3','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'4','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'5','0','0','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'6','0','0','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'7','0','0','0','0','0','0','0' ,'0','0'),
		(#{p_id},#{p_num},'8','0','0','0','0','0','0','0' ,'0','0'),
		(#{p_id},#{p_num},'9','0','0','0','0','0','0','0','0','0' )
		</when>
		<when test='p_num.equals("4")'>
		INSERT INTO tbl_nemo_play
		(p_id,p_num,p_row_num,p_block1,p_block2,p_block3,p_block4
		,p_block5,p_block6,p_block7,p_block8,p_block9,p_block10,p_block11)
		VALUES
		(#{p_id},#{p_num},'1','0','0','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'2','0','0','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'3','0','0','0','0','0','0','0','0','0' ,'0','0'),
		(#{p_id},#{p_num},'4','0','0','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'5','0','0','0','0','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'6','0','0','0','0','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'7','0','0','0','0','0','0','0' ,'0','0','0','0'),
		(#{p_id},#{p_num},'8','0','0','0','0','0','0','0' ,'0','0','0','0'),
		(#{p_id},#{p_num},'9','0','0','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'10','0','0','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'11','0','0','0','0','0','0','0','0','0','0','0' )
		</when>
		<when test='p_num.equals("5")'>
		INSERT INTO tbl_nemo_play
		(p_id,p_num,p_row_num,p_block1,p_block2,p_block3,p_block4
		,p_block5,p_block6,p_block7,p_block8,p_block9,p_block10,p_block11,
		p_block12,p_block13,p_block14,p_block15)
		VALUES
		(#{p_id},#{p_num},'1','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'2','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'3','0','0','0','0','0','0','0','0','0' ,'0','0','0','0','0','0'),
		(#{p_id},#{p_num},'4','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0' ),
		(#{p_id},#{p_num},'5','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'6','0','0','0','0','0','0','0','0','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'7','0','0','0','0','0','0','0' ,'0','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'8','0','0','0','0','0','0','0' ,'0','0','0','0','0','0','0','0'),
		(#{p_id},#{p_num},'9','0','0','0','0','0','0','0','0','0','0','0' ,'0','0','0','0'),
		(#{p_id},#{p_num},'10','0','0','0','0','0','0','0','0','0','0','0' ,'0','0','0','0'),
		(#{p_id},#{p_num},'11','0','0','0','0','0','0','0','0','0','0','0' ,'0','0','0','0'),
		(#{p_id},#{p_num},'12','0','0','0','0','0','0','0','0','0','0','0' ,'0','0','0','0'),
		(#{p_id},#{p_num},'13','0','0','0','0','0','0','0','0','0','0','0' ,'0','0','0','0'),
		(#{p_id},#{p_num},'14','0','0','0','0','0','0','0','0','0','0','0' ,'0','0','0','0'),
		(#{p_id},#{p_num},'15','0','0','0','0','0','0','0','0','0','0','0' ,'0','0','0','0')
		</when>
		</choose>

	</insert>

</mapper>