<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.nemo.hello.dao.SpeechDao">
 	
 	<select id="selectByNNum" resultType="com.nemo.hello.models.SpeechVO">
    SELECT * FROM tbl_speech WHERE s_num = #{sNum}
	</select>
 	<select id="selectAll" resultType="com.nemo.hello.models.SpeechVO">	
 	SELECT * FROM tbl_speech
 	</select>
 	<select id="findById"></select>
 	<insert id="insert"></insert>
 	<update id="update"></update>
 	<delete id="delete"></delete>
 
 </mapper> 