* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
header {
  padding: 1rem;
  color: white;
  text-align: center;
  font-size: large;
  background-color: #553838;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
div.nav_top ul {
  list-style: none;
  background-color: #e85c5c;
  display: flex;
  justify-content: space-between;
  color: white;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

div.nav_top li {
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 14px;
}
div.nav_top li:hover {
  background-color: #553838;
}
