extends ../layout

block content
    link(rel="stylesheet", href="/css/sign_up.css")
    div.contain
        input(placeholder ="회원ID")
        input(placeholder ="비밀번호")
        input(placeholder ="비밀번호확인")
        input(placeholder ="Email")
        input(placeholder ="회원이름")
    div.box
        div.btn_box 회원가입