<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.callor.hello.dao.ImagesDao">
 
 	<select id="selectAll">
 		SELECT * FROM tbl_images 
 	</select>
 	<select id="findById"></select>
 	
 	<insert id="inserts">
		INSERT INTO tbl_images(
			i_id, i_sid, i_origin_image, i_up_image
		) VALUES 
		<foreach collection="images" item="VO" separator=", ">
			(#{VO.i_id} , #{s_id},#{VO.i_origin_image},#{VO.i_up_image})
		
		</foreach>
 	</insert>
 	
 	
 	<update id="update"></update>
 	<delete id="delete"></delete>
 
 	<select id="create_table">
 	CREATE TABLE IF NOT EXISTS tbl_images(
	i_id	VARCHAR(125)		PRIMARY KEY,
	i_sid	VARCHAR(125)	NOT NULL	,
	i_origin_image	VARCHAR(255)	NOT NULL	,
	i_up_image	VARCHAR(255)	NOT NULL	,
	CONSTRAINT FK_GALLERY
	FOREIGN KEY (i_sid)
    REFERENCES tbl_gallerys(s_id) ON DELETE CASCADE
)
 	</select>
 </mapper> 