<!DOCTYPE html>
<html
  lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script th:inline="javascript">
      // thymeleaf 에서 사용하는 변수(EL, @{/}) 를 문자열로 변환하여
            //   rootPath 변수에 할당하기
      const rootPath = /*[[@{/}]]*/
    </script>
    <link rel="stylesheet" th:href="@{/static/css/home.css}" />
    <title>나의 홈페이지</title>
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <header class="main-header">
      <h1>이미지갤러리 2024</h1>
      <h3>ImageGallery Summer</h3>
    </header>
    <section class="main" layout:fragment="content">
      <section class="section button_box">
        <a th:href="@{/gallery/insert}" class="button">이미지업로드</a>
      </section>
      <section class="section container">
        <div class="card" th:each="GA:${GALLERYS}">
          <div>
            <a
              th:href="@{/file/upload/{image}(image=${IMAGES[0].i_up_image})}"
              target="_blank"
              width="200px"
            >
              <img th:src="@{/file/upload/{image}(image=${IMAGES[0].i_up_image})}" width="200px" />
            </a>
            <h3 th:text="${GA.s_subject}" class="subject"></h3>
          </div>
        </div>
      </section>
    </section>
  </body>
</html>
