div.btn_con {
  width: 50%;
  margin: 10px auto;
  display: flex;
  input {
    flex: 1;
    margin-right: 20px;
    outline: none;
    border: none;
    background-color: antiquewhite;
    color: blueviolet;
    opacity: 0.5;
    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}

table.table_list {
  width: 100%;
  th {
    color: blueviolet;
    font-size: 20px;
  }
  td,
  th {
    padding: 10px;
    text-align: left;
    &:nth-of-type(5) {
      width: 40%;
    }
  }
}
