form.login {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 1rem auto;
  div {
    display: flex;
    margin-top: 3px;
    a {
      display: inline-block;
      text-align: right;
    }
  }
  input {
    flex: 0.5;
    padding: 5px;
  }
}
