table {
  width: 50%;
  border-collapse: separate;
  margin: 5% auto;

  td,
  th {
    white-space: nowrap;
    text-align: center;
    padding: 10px;
  }
  th {
    font-size: 30px;
  }
  tr {
    &:hover td {
      color: red;
    }
  }
  td {
    text-decoration: underline;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }
}
.search {
  margin-top: 5%;
  text-shadow: 2px 2px 2px #ddd;
}
#data:hover {
  cursor: pointer;
}
