extends layout

block content
    //- 퍼그에서 스타일지정 , 간단한것만 작동
    style.
        div.error{
            color: red;
            font-weight :bold;
            font-size: 1.2rem;
            width:80%;
            margin : 20px auto;
        }
    .error
        h1= message
        h3= code
        span= errno
        SQL= sql